@font-face {
    font-family: 'TTLakes';
    src: url(TTLakes-Regular.eot?#iefix) format("eot"),
    url(TTLakes-Regular.woff) format("woff"),
    url(TTLakes-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
}

.container{
    width: 100%;
}

@media screen and (min-width: 768px){
   .brand-block {
       display: flex;
       flex-wrap: wrap;
   }

    .brand-block__brands {
        margin-bottom: 16px;
    }
}

.title-block {
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;

}

.title-block__title{
    padding: 16px;
 }

.brand-block {
    margin-top: 16px;
    margin-left: 16px;
    overflow: scroll;
    display: flex;
}

.brand-block__brands{
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    min-width: 240px;
    display: flex;
    align-items: center;
    padding: 16px;
    margin-right: 32px;


}

.brands-logo {
    margin-right: auto;
}

.brands-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../include/icons/brand-button.svg');
    box-sizing: border-box;
    border: 2px solid #FF3E79;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.brands-button:hover {
    opacity: 0.8;

}

.group__read-more{
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 16px;
}

.icon-read-more {
    height: 24px;
}

.read-more {
    font-weight: 600;
    border: none;
    background: none;
    color: #1B1C21;
}