@font-face {
    font-family: 'TT Lakes';
    src: url(TTLakes-Bold.eot?#iefix) format("eot"),
    url(TTLakes-Bold.woff) format("woff"),
    url(TTLakes-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F8F8F8;
    width: 360px;
    border: 1px solid blue;
}



.upper-menu {
    width: auto;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    display: flex;
    background: #FFFFFF;
    justify-content: space-around;
    align-items: center;

}

.title {
    font-family: TT Lakes, Arial, sans-serif;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 24px;

}

.title__highlight {
    margin-right: 12px;
}

.menu {
    height: 40px;
    margin-top: 24px;
    display: flex;
    width: 504px;

}

.menu__button{

    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-left: 16px;
    border: none;
    background: inherit;
}

.menu__button--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 9.3px 8px 16.54px;
}

.first-block{
    margin-top: 24px;

}

.first-block__description {
    padding: 0 16px;

}

.first-block__read-more{
    display: flex;
    align-items: center;
}