@font-face {
    font-family: 'TTLakes';
    src: url(TTLakes-Regular.eot?#iefix) format("eot"),
    url(TTLakes-Regular.woff) format("woff"),
    url(TTLakes-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
}

.container{
    width: 100%;
}

.title-block {
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-family: 'TTLakes';
    margin-bottom: 16px;

}

.title-block__title{
    padding: 16px 24px;
    margin: 0;
 }



.brand-block__brands{
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    align-items: center;
    padding: 16px;
    margin-right: 32px;
}

.brand-block__brands--properties{
    box-sizing: border-box;
    border-radius: 6px;
    min-width: 240px;
    display: none;
}

.brands-logo {
    margin-right: auto;
}

.brands-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../include/icons/brand-button.svg');
    box-sizing: border-box;
    border: 2px solid #FF3E79;
    transition: 0.2s ease-in-out;
}

.brands-button:hover {
    opacity: 0.8;

}

.group__read-more{
    align-items: center;
    margin-left: 32px;
    margin-top: 8px;
    margin-bottom: 24px;
    display: none;

}

.icon-read-more {
    height: 24px;
    width: 24px;
    background-image: url("../include/icons/read-more.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-in-out;
}

.read-more {
    font-weight: 500;
    border: none;
    background: none;
    color: #1B1C21;
}

.visible {
    display: flex;
}

.unvisible {
    display: none;
}




/* Swiper */

.swiper-pagination{
    position: static !important;
    margin-top: 16px;
}

.swiper-slide{
    height: auto !important;
    margin: 0;

}

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    margin: 0 6px !important;

}

.swiper-pagination-bullet-active{
    background: #B5B6BC !important;
}


/* Media */

@media screen and (min-width: 1120px) {
    .brand-block__brands:nth-child(-n+8) {
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1120px) {
    .brand-block__brands:nth-child(-n+6) {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .brand-block {
        display: flex;
        flex-wrap: wrap;
        margin-left: 24px;
        margin-top: 16px;
        margin-left: 16px;
        overflow: auto;

    }

    .group__read-more {
        display: flex;
    }

    .brand-block__brands {
        margin-right: 24px;
        min-width: 224px;
        margin-bottom: 16px;
    }

    .title-block {
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    }

    .swiper-pagination{
        display:none;
    }

}


@media screen and (max-width: 768px) {
    .brand-block__brands {
        display: flex;
    }

    .shadow {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 28.21%;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        width: 24px;
        height: 85px;
        z-index: 1100;
    }


}



button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}